[submodule "ADL"]
	path = ADL
	url = https://github.com/ByteChkR/ADL
	branch = develop
[submodule "ext-pp"]
	path = ext-pp
	url = https://github.com/ByteChkR/ext-pp
[submodule "CommandRunner"]
	path = CommandRunner
	url = https://github.com/ByteChkR/CommandRunner
