[submodule "opencl-dotnet"]
	path = opencl-dotnet
	url = https://github.com/ByteChkR/opencl-dotnet
[submodule "ADL"]
	path = ADL
	url = https://github.com/ByteChkR/ADL
	branch = develop
[submodule "ext-pp"]
	path = ext-pp
	url = https://github.com/ByteChkR/ext-pp
[submodule "bepuphysics1"]
	path = bepuphysics1
	url = https://github.com/ByteChkR/bepuphysics1.git
